<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'update' pk=stut.id %}" method="POST">
        {% csrf_token %}
        <input type="text" value="{{stut.Name}}" name="name" placeholder="Name" >
        <input type="text" value="{{stut.Phone}}" name="phone" placeholder="Phone" >
        <button type="submit" > Update </button>
    </form>
</body>
</html>